
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501583109120'); /* IE9*/
  src: url('iconfont.eot?t=1501583109120#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501583109120') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501583109120') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501583109120#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activity_fill:before { content: "\e6de"; }

.icon-add:before { content: "\e6df"; }

.icon-addpeople_fill:before { content: "\e6e1"; }

